<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Quản lý mặt hàng</title>
<style>
.log{
margin-right:30px;
}
.button {
  width: 400px;
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
  border: none;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
	<div th:object="${nhanvien}" align = "right" class = "log">
	  <p>Xin chào: <span th:text="*{hoTen}"></span>.</p>
	  <a th:href="@{/logout}">Đăng xuất</a><br/>
	</div>
	
    <div align="center">
        <h1>Quản lý mặt hàng</h1>
        <br />
        <table>
        	<tr>
        		<td><a href="/products/add"><button class = "button">Thêm mới mặt hàng</button> </a></td>
        	</tr>
        	
        	<tr>
        		<td><a href="/products/edit"><button class = "button">Sửa thông tin mặt hàng</button> </a></td>
        	</tr>
        	<tr>
        		<td><a href="/products/delete"><button class = "button">Xóa mặt hàng</button> </a></td>
        	</tr>
        	<tr>
        		<td><button class = "button" onclick="history.back()">Quay lại</button></td>
        	</tr>
        </table>
        
        
        
    </div>
</body>
</html>